/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }



/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Luis Carmona (www.luiscarmona.net)
   ========================================================================== */


@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot');
  src: url('font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
     url('font/fontawesome-webfont.woff') format('woff'),
     url('font/fontawesome-webfont.ttf') format('truetype'),
     url('font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
.dark_gradient_bg {
  background: rgb(44,44,44);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(44,44,44,1) 0%, rgba(33,33,33,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,44,44,1)), color-stop(100%,rgba(33,33,33,1)));
  background: -webkit-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(33,33,33,1) 100%);
  background: -o-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(33,33,33,1) 100%);
  background: -ms-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(33,33,33,1) 100%);
  background: linear-gradient(to bottom,  rgba(44,44,44,1) 0%,rgba(33,33,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#212121',GradientType=0 );
  box-shadow:0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,1) inset,0 -1px 0 0 rgba(0,0,0,0.9);
}

.grey_gradient_bg {
  background: rgb(77,77,77);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTNhM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(77,77,77,1) 0%, rgba(58,58,58,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,77,77,1)), color-stop(100%,rgba(58,58,58,1)));
  background: -webkit-linear-gradient(top,  rgba(77,77,77,1) 0%,rgba(58,58,58,1) 100%);
  background: -o-linear-gradient(top,  rgba(77,77,77,1) 0%,rgba(58,58,58,1) 100%);
  background: -ms-linear-gradient(top,  rgba(77,77,77,1) 0%,rgba(58,58,58,1) 100%);
  background: linear-gradient(to bottom,  rgba(77,77,77,1) 0%,rgba(58,58,58,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#3a3a3a',GradientType=0 );
  box-shadow:0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,1) inset,0 -1px 0 0 rgba(0,0,0,0.9);
}
.blue_gradient_bg {
  background: rgb(0,163,195);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDk4YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,163,195,1) 0%, rgba(4,152,181,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,163,195,1)), color-stop(100%,rgba(4,152,181,1)));
  background: -webkit-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3c3', endColorstr='#0498b5',GradientType=0 );
  box-shadow:0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,1) inset,0 -1px 0 0 rgba(0,0,0,0.9);
}
*/

/* CSS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}body{background-color:#FFF;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}.clear {clear: both}.clear.left {clear: left}.clear.right {clear: right}

html {-webkit-font-smoothing:antialiased;}
body {position:fixed;width:100%;height:100%;background:#333;font-family:'Lato',sans-serif;color:#333;overflow:hidden;}
a,
a:visited,
a:hover {text-decoration:none;color:#333;}
h1,h2,h3,h4,h5,h6 {font-size:30px;font-weight:400;color:#333;}

.notification {position:absolute;top:60px;left:50%;width:290px;padding:5px 5px 7px 5px;margin:0 0 0 -150px;background:rgba(0,0,0,0.8);text-align:center;color:#FFF;z-index:10;display:none;}
.notification.active {display:block;opacity:1;}

.scrollable {overflow:scroll;-webkit-overflow-scrolling:touch;}
.scrollable::-webkit-scrollbar {display:none;}

.buttons {margin:10px 0;background:#FFF;}
.buttons li {float:left;margin:4px 0;}
.buttons li a {display:block;}
.buttons.icon_buttons li {float:left;width:20%;}
.buttons.icon_buttons li a {width:42px;height:42px;padding:0;margin:0 auto;font-size:20px;line-height:42px;text-align:center;color:#999;overflow:hidden;border-radius:50%;box-shadow:0 0 0 2px #999 inset;}
a.button {display:block;padding:10px 5px;color:#999;}

.mode {position:relative;display:block;height:48px;background-color:#444;line-height:28px;text-transform:uppercase;color:#FFF;border-top:1px solid #555;border-bottom:1px solid #111;}
.mode:before {
  position:absolute;top:13px;right:10px;width:50px;height:22px;padding:0 2px 0 17px;background:#777;font-size:10px;font-weight:900;text-transform:uppercase;text-align:center;line-height:22px;color:#FFF;text-shadow:none;content:"Offline";
  box-shadow:0 -1px 0 0 rgba(255,255,255,0.2) inset,0 1px 0 0 rgba(0,0,0,0.4) inset,0 1px 3px 0 rgba(0,0,0,0.3) inset;
  border-radius:12px;
}
.mode:after {
  position:absolute;top:16px;right:60px;width:16px;height:16px;background:#CCC;content:"";
  background: rgb(255,255,255);
  background: rgb(255,255,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(187,187,187,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(187,187,187,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,187,187,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,187,187,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,187,187,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(187,187,187,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbbbbb',GradientType=0 );
  box-shadow:0 1px 3px 0 rgba(0,0,0,0.1),0 2px 5px 0 rgba(0,0,0,0.3),0 5px 10px 0 rgba(0,0,0,0.4);
  border-radius:50%;
}




/**********/
/* HEADER */
/**********/
#app > header {
  height:50px;z-index:1;
  background: rgb(0,163,195);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDk4YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,163,195,1) 0%, rgba(4,152,181,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,163,195,1)), color-stop(100%,rgba(4,152,181,1)));
  background: -webkit-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3c3', endColorstr='#0498b5',GradientType=0 );
  box-shadow:0 1px 0 0 rgba(255,255,255,0.3) inset,0 -1px 0 0 rgba(0,0,0,0.3) inset;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
#app > header .logo {display:block;width:220px;height:50px;margin:0 auto;background:transparent url(../img/sprite.png) no-repeat 0 0;background-size:500px auto;text-indent:-999999px;overflow:hidden;box-shadow:1px 0 0 0 rgba(255,255,255,0.3) inset,-1px 0 0 0 rgba(0,0,0,0.3) inset;}
#app > header .mode {display:none;}


.system_menu {position:absolute;top:0;left:0;width:100%;height:50px;}
.system_menu ul {}
.system_menu ul li {position:absolute;top:0;box-shadow:1px 0 0 0 rgba(255,255,255,0.3) inset,-1px 0 0 0 rgba(0,0,0,0.3) inset;}
.system_menu ul li a {display:block;width:50px;height:50px;font-size:20px;text-align:center;line-height:50px;color:#FFF;text-shadow:0 1px 0 rgba(0,0,0,0.6);overflow:hidden;}
.system_menu ul li.menu_toggle {left:0;}
.system_menu ul li.menu_toggle a {background-position:-200px -100px;}
.system_menu ul li.search_toggle {right:0}
.system_menu ul li.search_toggle a {background-position:-50px -50px;}
.system_menu ul li.user_toggle {left:0;}
.system_menu ul li.user_toggle a {background-position:-100px -50px;display:none;}
.system_menu ul li.close {right:0;}
.system_menu ul li.close a {background-position:-450px -100px;}
.system_menu ul li.clear {right:50px;opacity:0.1;}
.system_menu ul li.clear a {background-position:-50px -150px;}
.system_menu ul li.back_link {left:0;}
.system_menu ul li.back_link a {background-position:-250px -50px;display:none;}
.system_menu ul li.notifications_toggle {right:100px;display:none;}
.system_menu ul li.friends_toggle {right:50px;display:none;}
.system_menu ul li.radio_toggle {right:50px;display:none;}
.system_menu ul li.playlist_toggle {right:0;opacity:0.2;display:none;}
.system_menu ul li.user_link {right:0;display:none;}
.system_menu ul li.user_link img {position:absolute;top:10px;left:10px;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,1);}
.has_playlist .system_menu ul li.clear {opacity:1;}


/**************/
/* LEFT PANEL */
/**************/
#left_panel {
  position:absolute;top:0;left:0;bottom:0;width:270px;background:#333;opacity:0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
#left_panel .logo {position:absolute;top:0;left:0;width:100px;height:50px;background:transparent url(../img/sprite.png) no-repeat -64px 0;background-size:500px auto;text-indent:-999999em;z-index:1;}
.menu {position:absolute;top:50px;left:0;bottom:0;width:100%;}
.menu .user {padding:7px 10px;line-height:30px;}
.menu .user img {margin:0 10px 0 0;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,1);}
.menu h3 {padding:5px 10px;background:#292929;font-size:12px;font-weight:900;text-transform:uppercase;color:#777;border-top:1px solid #333;border-bottom:1px solid #000;}
.menu ul {}
.menu ul li {position:relative;border-top:1px solid #444;border-bottom:1px solid #111;}
.menu ul li a {padding:8px;font-size:16px;font-weight:400;line-height:22px;color:#EEE;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-tap-highlight-color:rgba(255,255,255,0.2);}
.menu ul li a i {margin:0 5px 0 0;}
.menu ul li a.delete {display:none;}
.menu ul li.selected {border-top:1px solid #00AFCE;}
.menu ul li.selected a {
  cursor:default;
  background:#0099AB;
  background: rgb(0,163,195);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDk4YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,163,195,1) 0%, rgba(4,152,181,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,163,195,1)), color-stop(100%,rgba(4,152,181,1)));
  background: -webkit-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,163,195,1) 0%,rgba(4,152,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3c3', endColorstr='#0498b5',GradientType=0 );
}


/***********/
/* CONTENT */
/***********/
#content {
  position:relative;background:#FFF;z-index:1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
#navigation {position:relative;height:32px;background:#F6F6F6;border-top:1px solid rgba(255,255,255,1);border-bottom:1px solid rgba(0,0,0,0.1);overflow:hidden;display:none;}
#navigation > a {float:left;display:block;width:30px;height:32px;font-size:20px;line-height:32px;text-align:center;color:#CCC;box-shadow:-1px 0 0 0 rgba(0,0,0,0.1) inset;cursor:default;}
#navigation > a.active {color:#555;cursor:pointer;}
#navigation .breadcrumb {position:absolute;top:0;left:60px;width:100000px;height:32px;padding:0 50px 0 0;overflow:hidden;}
#navigation .breadcrumb li {float:left;font-size:14px;line-height:32px;color:#999;}
#navigation .breadcrumb li a {display:block;position:relative;padding:0 0 0 25px;color:#555;}
#navigation .breadcrumb li:first-child a {padding-left:10px;}
#navigation .breadcrumb li a:after {position:absolute;top:50%;left:100%;width:0;height:0;margin:-50px 0 0 0;background:none;content:"";z-index:2;border-top:50px solid transparent;border-bottom:50px solid transparent;border-left:15px solid #F6F6F6;}
#navigation .breadcrumb li a:before {position:absolute;top:50%;left:100%;width:0;height:0;margin:-50px 0 0 1px;background:none;content:"";z-index:2;border-top:50px solid transparent;border-bottom:50px solid transparent;border-left:15px solid #DDD;}
#navigation .breadcrumb li:last-child {padding-left:25px;}


/**********/
/* FOOTER */
/**********/
#app > footer {
  position:relative;background:#222;color:#FFF;text-shadow:0 1px 0 rgba(0,0,0,0.5);-webkit-tap-highlight-color:rgba(255,255,255,0.1);z-index:10;display:none;
  background: rgb(77,77,77);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTNhM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(77,77,77,1) 0%, rgba(58,58,58,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,77,77,1)), color-stop(100%,rgba(58,58,58,1)));
  background: -webkit-linear-gradient(top,  rgba(77,77,77,1) 0%,rgba(58,58,58,1) 100%);
  background: -o-linear-gradient(top,  rgba(77,77,77,1) 0%,rgba(58,58,58,1) 100%);
  background: -ms-linear-gradient(top,  rgba(77,77,77,1) 0%,rgba(58,58,58,1) 100%);
  background: linear-gradient(to bottom,  rgba(77,77,77,1) 0%,rgba(58,58,58,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#3a3a3a',GradientType=0 );
  box-shadow:0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,1) inset,0 -1px 0 0 rgba(0,0,0,0.9);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
#app > footer header {height:50px;background:#333;display:none;height:50px;padding:0 55px 0 50px;}
#app > footer header .system_menu h1 {padding:0 0 0 10px;line-height:50px;text-transform:uppercase;color:#FFF;}
#app > footer > .system_menu {display:none;}

#mini_player {display:block;height:40px;padding:5px 55px 5px 5px;color:#FFF;}
#mini_player.loading:after {top:15px;right:14px;width:24px;height:24px;background:transparent url(../img/loader222888.gif) no-repeat 0 0;background-size:auto auto;}
#mini_player .thumb {float:left;width:40px;height:40px;margin:0 5px 0 0;background:#333;box-shadow:0 1px 0 0 rgba(255,255,255,0.1),0 1px 3px 0 rgba(0,0,0,0.5) inset;}
#mini_player .thumb img {width:100%;}
#mini_player .details {padding:2px 0 0 0;overflow:hidden;}
#mini_player .details .title {}
#mini_player .details .band {margin:2px 0 0 0;font-size:12px;font-weight:700;color:#999;}
#mini_player i {position:absolute;top:0;right:0;width:50px;height:50px;font-size:18px;line-height:50px;text-align:center;color:#EEE;box-shadow:1px 0 0 0 rgba(255,255,255,0.2) inset,-1px 0 0 0 rgba(0,0,0,0.9);}

#playlist {background:#4C4C4C;display:none;}
#playlist li {border-top:1px solid #555;border-bottom:1px solid #333;}
#playlist li:nth-child(2n) {background:#444;}
#playlist li a {padding:10px 5px 10px 30px;text-shadow:0 1px 0 rgba(0,0,0,0.5);}
#playlist li a .thumb {width:40px;height:40px;}
#playlist li a .thumb {background-image:url(../img/loader222888.gif)}
#playlist li a .thumb img {}
#playlist li a .details {position:relative;padding:0 50px 0 0;margin:2px 0 0 0;color:#FFF;}
#playlist li a .details .title {}
#playlist li a .details .band {margin:2px 0 0 0;font-size:12px;font-weight:700;color:#999;}
#playlist li a .details .duration {position:absolute;top:0;right:5px;color:#999;}
#playlist li a i {position:absolute;top:50%;left:0;width:30px;height:30px;margin:-15px 0 0 0;font-size:20px;line-height:30px;text-align:center;color:#00B0D0;display:none;}
#playlist li a .track_nr {position:absolute;top:50%;left:0;width:30px;height:30px;margin:-15px 0 0 0;line-height:30px;text-align:center;color:#999;}
#playlist li.current_track a i {display:block;}
#playlist li.current_track a .track_nr {display:none;}

.scrubber {position:absolute;top:-4px;left:0;right:0;display:none;}
.scrubber .bars {position:relative;height:3px;background:rgba(0,0,0,0.6);}
.scrubber .bar {position:absolute;top:0;left:0;height:100%;}
.scrubber .bar.elapsed_time {background:#00B0D0;}
.scrubber .bar.buffered {background:rgba(255,255,255,0.1);}
.scrubber .timer {position:absolute;top:0;width:50px;font-size:12px;line-height:6px;text-align:center;color:#BBB;text-shadow:0 1px 0 rgba(0,0,0,0.5);display:none;}
.scrubber .timer.elapsed_time_counter {left:-50px;}
.scrubber .timer.total_time {right:-50px;}

.controls {height:50px;display:none;box-shadow:0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,1) inset}
.controls ul {}
.controls ul li {float:left;width:20%;}
.controls ul li a {
  display:block;width:50px;height:50px;margin:0 auto;text-indent:-999999px;overflow:hidden;opacity:0.2;cursor:default;
  background:transparent url(../img/sprite.png) no-repeat 0 0;
  background-size:500px auto;
}
.controls ul li.play_pause a {background-position:-50px -100px;}
.controls ul li.play_pause.play a {background-position:0 -100px;}
.controls ul li.previous a {background-position:-100px -100px;}
.controls ul li.next a {background-position:-150px -100px;}
.controls ul li.playlist a {background-position:-200px -100px;}
.controls ul li.add a {background-position:-250px -100px;}
.controls ul li.shuffle a {background-position:-300px -100px;cursor:pointer;}
.controls ul li.repeat a {background-position:-350px -100px;cursor:pointer;}
.controls ul li.shuffle.active a,
.controls ul li.repeat.active a {opacity:1;}
.controls ul li.repeat.active.repeat_one a {background-position:-400px -100px;}



/*********/
/* LISTS */
/*********/
.list {}
.list li {}
.list li a {display:block;position:relative;padding:10px;color:#333;overflow:hidden;}
.list li a.selected,
.list li a.pressed {background-color:rgba(0,0,0,0.1);}
.list li a .thumb {position:relative;float:left;width:50px;margin:0 5px 0 0;}
.thumb {position:relative;background:rgba(0,0,0,0.1) url(../img/loaderCCC777.gif) no-repeat center center;}
.thumb img {width:100%;}
.list li a .details {position:relative;overflow:hidden;}

.album_list li .options {display:none;}
.album_list.grid_mode li a .details .tracks {font-size:10px;text-transform:uppercase;color:#999;display:none;}

.album_list.grid_mode {padding:0 5px;}
.album_list.grid_mode li {float:left;margin:0 0 10px 0;}
.album_list.grid_mode li a {width:145px;padding:5px;overflow:visible}
.album_list.grid_mode li a .thumb {position:relative;float:none;width:100%;min-height:145px;margin:0 0 5px 0;box-shadow:0 0 0 1px rgba(0,0,0,0.08);}
.album_list.grid_mode li a .details {height:35px;font-size:14px;text-align:center;}
.album_list.grid_mode li a .details .title {font-weight:600;}
.album_list.grid_mode li a .details .band {color:#999;}
.album_list.grid_mode li a .details .tracks {display:none;}
.album_list.grid_mode li .options {display:none;}

.tracklist {}
.tracklist li {overflow:hidden;}
.tracklist li.active .options li a {height:50px;}
.tracklist li.active .options:before {position:absolute;top:-5px;left:9px;width:14px;height:14px;background:#333;content:"";-webkit-transform:rotate(45deg);}
.tracklist li a {}
.tracklist li .options {position:relative;margin:0;background:#333;border:none;}
.tracklist li .options li {margin:0;}
.tracklist li .options li a {
  height:0;padding:0;background:#333;line-height:50px;color:#FFF;box-shadow:none;-webkit-tap-highlight-color:rgba(255,255,255,0.15);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search_results_list {padding:0 10px;}
.search_results_list li {margin:0 0 2px 0;}
.search_results_list li a {padding:10px 5px;background:rgba(0,0,0,0.1);}

.list_header {padding:10px;position:relative;}
.toggles {position:absolute;top:10px;right:10px;}
.toggles li {float:left;}
.toggles li a {font-size:29px;line-height:36px;color:#DDD;}
.toggles li a.selected {color:#00B0D0;cursor:default;}
.toggles li a:hover:not(.selected) {color:#777;}
.toggles li a i {}


/*********/
/* LOGIN */
/*********/
#login {position:absolute;top:0;left:0;width:100%;height:100%;background:#0099AB;display:none;z-index:999999;}
#login h1 {width:220px;height:50px;margin:0 auto 10px auto;background:transparent url(../img/sprite.png) no-repeat 0 0;background-size:500px auto;text-indent:-999999em;overflow:hidden;}
form.login_form {position:absolute;top:50%;left:50%;width:260px;height:200px;margin:-100px 0 0 -130px;}
form.login_form input:not([type="checkbox"]) {width:240px;height:30px;padding:5px 10px;margin:0 auto;line-height:30px;border:none;-webkit-appearance:none;}
form.login_form input[type="text"] {border-bottom:1px solid #CCC;border-radius:8px 8px 0 0;}
form.login_form input[type="password"] {margin:0 0 15px 0;border-radius:0 0 8px 8px;}
form.login_form .remember {float:left;padding:8px 0;margin:0 0 0 5px;font-size:12px;font-weight:700;text-transform:uppercase;color:#FFF;}
form.login_form input[type="submit"] {float:right;width:90px;height:30px;margin:0 5px 0 0;background:rgba(0,0,0,0.5);text-transform:uppercase;font-family:'Lato',sans-serif;font-weight:300;line-height:20px;color:#FFF;border:none;border-radius:5px;}
form.login_form input[type="submit"]:hover {background:rgba(0,0,0,0.8);}




/****************/
/* ALBUM DETAIL */
/****************/
.album_detail {padding:10px 10px 15px 10px;}
.album_detail header {min-height:100px;margin:0 0 10px 0;}
.album_detail header .details {overflow:hidden;}
.album_detail header .details * {}
.album_detail header .band {}
.album_detail header .title {margin:0 0 2px 0;font-size:24px;line-height:1em;}
.album_detail header .metadata {font-size:12px;color:#999;}
.album_detail header .nr_tracks {}
.album_detail header .genre {}
.album_detail header .year {}
.album_detail header .thumb {display:block;float:left;width:100px;height:100px;margin:0 5px 0 0;box-shadow:0 0 0 1px rgba(0,0,0,0.08);}
.album_detail header .thumb:after {position:absolute;top:50%;left:50%;width:50px;height:50px;margin:-25px 0 0 -25px;background:rgba(0,0,0,0.7) url(../img/sprite.png) no-repeat 0 -100px;background-size:500px auto;border:2px solid #FFF;border-radius:28px;content:"";display:none;}
.album_detail .buttons.icon_buttons {color:#555;}

.album_tracklist {min-height:50px;background:#FFF url(../img/loaderFFF777.gif) no-repeat center center;border-top:1px solid #DDD;border-bottom:1px solid #DDD;}
.album_tracklist > li {margin:0;background:#FFF;border-bottom:1px solid #DDD;}
.album_tracklist > li:last-child {border:none;}
.album_tracklist > li a {padding:14px 55px 14px 30px;}
.album_tracklist > li a .track_nr {position:absolute;top:0;left:0;width:30px;height:100%;text-align:center;line-height:47px;color:#CCC;}
.album_tracklist > li a .title {}
.album_tracklist > li a .duration {position:absolute;top:0;right:0;width:50px;font-size:14px;text-align:right;line-height:47px;color:#999;}


/*****************/
/* ARTIST DETAIL */
/*****************/
.artist_detail {}
.artist_detail header {position:relative;}
.artist_detail header .thumb {}
.artist_detail header .thumb img {}
.artist_detail header .band {position:absolute;bottom:10px;left:0;margin-right:50px;padding:5px;background:rgba(0,0,0,0.3);font-size:20px;text-transform:uppercase;color:#FFF;}


/**********/
/* SEARCH */
/**********/
.search_form {position:absolute;top:0;left:0;right:50px;height:50px;box-shadow:1px 0 0 0 rgba(255,255,255,0.2) inset,-1px 0 0 0 rgba(0,0,0,0.3) inset;display:none;}
.search_form [type=search] {position:absolute;top:9px;left:10px;right:10px;height:20px;padding:5px 10px;margin:0;line-height:20px;border:1px solid rgba(0,0,0,0);border-radius:15px;-webkit-appearance:none;}
.search_form [type=submit] {position:absolute;top:10px;right:16px;width:30px;height:30px;margin:0;background:transparent url(../img/sprite.png) no-repeat -210px -60px;background-size:500px auto;line-height:30px;border:none;text-indent:-999999px;}













/***********/
/* TOGGLES */
/***********/
body #content .panel {display:none;}

body[data-context="login"] .system_menu,
body[data-context="login"] .menu,
body[data-context="login"] #app {display:none;}

body[data-context="login"] #login,
body[data-context="dashboard"] .exploration,
body[data-context="album_detail"] .album_detail,
body[data-context="artist_detail"] .artist_detail,
body[data-context="artist_detail"] .playlist_detail {display:block !important;}

.search_mode .system_menu ul li.search_toggle a {}
.search_mode .system_menu ul li.search_toggle a i.icon-search:before {content:"\f00d";}
.search_mode .search_form {display:block;}
.search_mode .system_menu ul li.menu_toggle,
.search_mode #app > header .logo {display:none;}

.menu_mode #left_panel {display:block;}

.has_playlist #app > footer .scrubber,
.has_playlist #app > footer {display:block;}
.has_playlist .controls ul li.play_pause a,
.has_playlist .controls ul li.previous a,
.has_playlist .controls ul li.next a {opacity:1;cursor:pointer;}

.menu_mode #left_panel {opacity:1;}
.menu_mode #app > header,
.menu_mode #app > footer,
.menu_mode #app #content {-webkit-transform:translate3d(270px,0,0);}

.player_mode {}
.player_mode #app > footer {}
.player_mode #app > footer > header,
.player_mode #app > footer #playlist,
.player_mode #app > footer .controls {display:block;}
.player_mode #app > footer .scrubber {position:static;padding:12px 0;box-shadow:0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,1) inset,0 -1px 0 0 rgba(0,0,0,0.9);}
.player_mode #app > footer .scrubber .bars {height:6px;margin:0 50px;border:1px solid rgba(0,0,0,0.5);border-radius:3px;box-shadow:0 1px 0 0 rgba(255,255,255,0.1);}
.player_mode #app > footer .scrubber .bar {border-radius:3px;}
.player_mode #app > footer .scrubber .bar.elapsed_time {
  background: rgb(0,196,213);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzRkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDczOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,196,213,1) 0%, rgba(0,115,157,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,196,213,1)), color-stop(100%,rgba(0,115,157,1)));
  background: -webkit-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4d5', endColorstr='#00739d',GradientType=0 );
}
.player_mode #app > footer .scrubber .timer {display:block;}
.player_mode #app > footer #mini_player {position:absolute;top:50%;width:100%;padding:0;margin:-126px 0 0 0;display:none;}
.player_mode #app > footer #mini_player:after {display:none;}
.player_mode #app > footer #mini_player .thumb {float:none;width:200px;height:auto;margin:0 auto 8px auto;}
.player_mode #app > footer #mini_player .details {text-align:center;}
.player_mode #app > footer #mini_player .details .title {font-size:24px;font-weight:300;}

.online .mode:before {padding:0 17px 0 2px;background:#82BE00;content:"Online";}
.online .mode:after {right:13px;}
.menu .online_menu {display:none;opacity:0;}
.menu .offline_mode {display:block;opacity:1;}
.online .menu .offline_menu {display:none;opacity:0;}
.online .menu .online_menu {display:block;opacity:1;}















/********************/
/****   TABLET   ****/
/********************/
@media only screen and (min-width:768px) {
#app {position:absolute;width:100%;height:100%;}

#left_panel {
  top:50px;bottom:70px;
  transition:none;
  -webkit-transition:none;
}
.menu section.user_menu,
#left_panel header {display:none;}
.menu {top:0;}

#app > header {
  background: rgb(44,44,44);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(44,44,44,1) 0%, rgba(33,33,33,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,44,44,1)), color-stop(100%,rgba(33,33,33,1)));
  background: -webkit-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(33,33,33,1) 100%);
  background: -o-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(33,33,33,1) 100%);
  background: -ms-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(33,33,33,1) 100%);
  background: linear-gradient(to bottom,  rgba(44,44,44,1) 0%,rgba(33,33,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#212121',GradientType=0 );
  box-shadow:0 -1px 0 0 rgba(0,0,0,1) inset,0 -1px 0 0 rgba(0,0,0,1),1px 0 0 0 rgba(255,255,255,0.1) inset;
  transition:none;
  -webkit-transition:none;
}
#app > header .logo {width:220px;margin:0;background-position:-239px 0;box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,1) inset;z-index:1;}
#app > header .mode {display:block;position:absolute;top:0;left:125px;width:90px;height:50px;background:none;border:none;}

/*
#app > footer {display:block;position:absolute;left:0;bottom:0;width:100%;height:50px!important;}
#app > footer .controls {display:block;position:absolute;top:0;left:0;box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,1) inset;z-index:1;}
#app > footer #mini_player {display:block;position:absolute;top:0;left:250px;right:420px;padding:0 5px 0 50px;box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,1) inset;}
#app > footer #mini_player i {display:none}

.scrubber {display:block;position:absolute;top:0;left:auto;right:100px;width:320px;height:50px;box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,1) inset;}
.scrubber .bars {top:22px;height:6px;margin:0 50px;border:1px solid rgba(0,0,0,0.5);border-radius:3px;box-shadow:0 1px 0 0 rgba(255,255,255,0.1);}
.scrubber .bar {border-radius:3px;}
.scrubber .bar.elapsed_time {
  background: rgb(0,196,213);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzRkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDczOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,196,213,1) 0%, rgba(0,115,157,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,196,213,1)), color-stop(100%,rgba(0,115,157,1)));
  background: -webkit-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4d5', endColorstr='#00739d',GradientType=0 );
}
.scrubber .timer {display:block;}
*/

#app > footer {display:block;position:absolute;left:0;bottom:0;width:100%;height:70px!important;}
#app > footer .controls {display:block;position:absolute;top:0;left:0;padding:10px 0;box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,1) inset;z-index:1;}
#app > footer #mini_player {display:block;position:absolute;top:0;left:250px;right:100px;height:70px;padding:10px;box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,1) inset;}
#app > footer #mini_player .details {padding:0;position:relative;top:-3px;}
#app > footer #mini_player .thumb {width:50px;height:50px;margin:0 10px 0 0;}
#app > footer #mini_player i {display:none}

#app > footer > .system_menu {display:block;}

.scrubber {display:block;position:absolute;top:50px;left:310px;right:100px;}
.scrubber .bars {height:6px;margin:0 50px;border:1px solid rgba(0,0,0,0.5);border-radius:3px;box-shadow:0 1px 0 0 rgba(255,255,255,0.1);}
.scrubber .bar {border-radius:3px;}
.scrubber .bar.elapsed_time {
  background: rgb(0,196,213);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzRkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDczOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,196,213,1) 0%, rgba(0,115,157,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,196,213,1)), color-stop(100%,rgba(0,115,157,1)));
  background: -webkit-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,196,213,1) 0%,rgba(0,115,157,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4d5', endColorstr='#00739d',GradientType=0 );
}
.scrubber .timer {display:block;}

.system_menu ul li {box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,1) inset;}
.system_menu ul li.selected {box-shadow:none;}
.system_menu ul li.selected a {background:rgba(0,0,0,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.4) inset,0 5px 10px rgba(0,0,0,0.3) inset;}
.system_menu ul li.selected a i {text-shadow:0 0 7px #00B0D0,0 0 14px #00B0D0;}
.system_menu ul li.selected a:after {position:absolute;bottom:1px;left:0;right:0;height:2px;background:#00B0D0;box-shadow:0 0 7px 0 #00B0D0,0 -1px 14px 0 #00B0D0;content:"";}
#app > footer .system_menu ul li a {height:70px;line-height:70px;}
#app > footer .system_menu ul li.selected a:after {bottom:auto;top:1px;box-shadow:0 0 7px 0 #00B0D0,0 1px 14px 0 #00B0D0;}
.system_menu ul li.menu_toggle {left:220px;}
.system_menu ul li.search_toggle {display:none;}
.system_menu ul li.notifications_toggle,
.system_menu ul li.friends_toggle,
.system_menu ul li.user_link,
.system_menu ul li.playlist_toggle,
.system_menu ul li.radio_toggle {display:block;}
.system_menu ul li.notifications_toggle a .number {position:absolute;top:7px;right:7px;width:12px;height:12px;background:red;font-size:8px;font-weight:900;line-height:12px;text-align:center;text-shadow:none;border:2px solid #FFF;border-radius:10px;box-shadow:0 1px 3px 0 rgba(0,0,0,1);}
/*.system_menu ul li.notifications_toggle a .number {position:absolute;top:0;right:0;width:16px;height:30px;padding:5px 4px 10px 30px;background:none;font-size:10px;font-weight:900;line-height:16px;text-align:center;}*/

.search_form {display:block;left:270px;right:150px;height:50px;box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,1) inset;}
.search_form [type=search] {top:11px;left:10px;right:30%;height:16px;padding:4px 10px;background:#111;font-size:12px;line-height:16px;color:#777;box-shadow:0 1px 3px 0 rgba(0,0,0,0.7) inset,0 1px 0 0 rgba(255,255,255,0.1);}
.search_form [type=search]::-webkit-input-placeholder {color:#555;}
/*.search_form [type=search]:focus {box-shadow:0 0 5px 2px rgba(255,255,255,0.1);}*/
.search_form [type=submit] {top:10px;right:20%;width:30px;height:30px;}

#navigation {display:block;position:absolute;left:0;right:0;}

#content {
  position:absolute;top:84px;left:0;right:0;bottom:70px;height:auto!important;box-shadow:none;
  transition:none;
  -webkit-transition:none;
}
.panel {padding:10px 20px;}

.album_list.grid_mode {padding:0;}
.album_list.grid_mode li {float:none;display:inline-block;margin:0 10px 20px 10px;}
.album_list.grid_mode li a {width:154px;padding:0;}

.album_detail {position:relative;padding:30px;}
.album_detail header {margin:0 0 30px 0;}
.album_detail header .thumb {width:154px;height:154px;margin:0 10px 0 0;}
.album_detail > .buttons {position:absolute;top:10px;right:30px;}
.album_detail > .buttons li {width:30px;margin:0 0 0 5px;}
.album_detail > .buttons li a {width:30px;height:30px;font-size:16px;line-height:30px;color:#BBB;box-shadow:0 0 0 2px #BBB inset;}


.menu_mode #app > header,
.menu_mode #app > footer,
.menu_mode #app #content {-webkit-transform:translate3d(0,0,0);}
.menu_mode #left_panel {z-index:10;}


.has_playlist .system_menu ul li.playlist_toggle {opacity:1;}
.playlist_mode #playlist {display:block;position:fixed;bottom:70px;right:0;width:320px;box-shadow:1px 0 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 0 rgba(0,0,0,0.9);z-index:10;}

}






/********************/
/****   LAPTOP   ****/
/********************/
@media only screen and (min-width:1024px) {
#left_panel {width:219px;height:auto;background:#F6F6F6;border-right:1px solid #DDD;opacity:1;}
#left_panel header {height:0;}
#left_panel header .mode {top:-50px;height:50px;background:none;border:none;color:rgba(0,0,0,0);text-shadow:none;z-index:1;}
.menu {top:0;width:219px;}
.menu section {padding:10px 0;border-top:1px solid #FFF;border-bottom:1px solid #DDD;}
.menu h3 {padding:4px 8px;background:none;font-weight:400;color:#999;text-shadow:0 1px 0 rgba(255,255,255,1);border:none;}
.menu ul {}
.menu section.shortcuts_menu ul li a,
.menu section.playlists_menu ul li a {padding:2px 10px;font-size:14px;}
.menu ul li {border:none;}
.menu ul li a {padding:10px;line-height:normal;color:#333;text-shadow:none;}
.menu ul li a i {}
.menu ul li.selected {border:none;}
.menu ul li.selected a {color:#FFF;}

.system_menu ul li.menu_toggle {display:none;}

.search_form {left:220px;}

#navigation {left:220px;}
#content {left:220px;}

.playlist_mode #navigation,
.playlist_mode #content {right:320px;}
}






/*********************/
/****   DESKTOP   ****/
/*********************/
@media only screen and (min-width:1280px) {
.playlist_mode #navigation,
.playlist_mode #content {right:320px;}
}





.no-touch .scrollable::-webkit-scrollbar {display:block;}
.no-touch .scrollable::-webkit-scrollbar:horizontal {display:none;}
.no-touch .scrollable::-webkit-scrollbar {width:4px;height:4px;}
.no-touch .scrollable::-webkit-scrollbar-track {background:#DDD;background:none;}
.no-touch .scrollable::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.1);border-radius:2px;}
.no-touch .scrollable::-webkit-scrollbar-piece {background:none;}
.no-touch .scrollable:hover::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.4);}
.no-touch #playlist::-webkit-scrollbar-thumb {background:rgba(255,255,255,0.1);}
.no-touch #playlist:hover::-webkit-scrollbar-thumb {background:rgba(255,255,255,0.3);}

.no-touch .buttons.icon_buttons li a:hover {color:#00B0D0;box-shadow:0 0 0 2px #00B0D0 inset;}

.no-touch #playlist li a:hover .duration {display:none;}

.no-touch .system_menu li:not(.selected) a:hover {background:rgba(0,0,0,0.1);}

.no-touch .menu ul li a {padding:4px 8px;}
.no-touch .menu ul li a.delete {position:absolute;top:0;right:0;width:19px;height:19px;padding:0!important;margin:0;font-size:10px;line-height:21px;text-align:center;color:#999;z-index:1;}
.no-touch .menu ul li a.delete i {margin:0;}
.no-touch .menu ul li:not(.selected) a:hover {background:rgba(0,0,0,0.08);}
.no-touch .menu ul li a.delete:hover {background:none;color:#333;}
.no-touch .menu ul li a.delete:hover + a {background:rgba(0,0,0,0.08);}
.no-touch .menu ul li:hover a.delete {display:block;}

.no-touch .toggles li a {font-size:19px;}
.no-touch .album_list.grid_mode li .thumb:hover {box-shadow:none;}
.no-touch .album_list.grid_mode li .thumb:hover .options {display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.1);}
.no-touch .album_list.grid_mode li .thumb:hover .options .option {position:absolute;top:50%;left:17%;width:20px;height:20px;margin:-11px 0 0 -11px;background:rgba(40,40,40,0.8);font-size:13px;text-align:center;line-height:20px;color:#FFF;border:2px solid rgba(255,255,255,1);border-radius:50%;}
.no-touch .album_list.grid_mode li .thumb:hover .options .option.share {}
.no-touch .album_list.grid_mode li .thumb:hover .options .option.more {left:83%;}
.no-touch .album_list.grid_mode li .thumb:hover .options .option.play {left:50%;width:51px;height:51px;margin:-27px 0 0 -27px;font-size:30px;text-indent:2px;line-height:51px;border:3px solid rgba(255,255,255,1);}
.no-touch .album_list.grid_mode li .thumb:hover .options .option:hover {background:rgba(0,176,208,0.8);}

.no-touch #navigation > a.active:hover,
.no-touch #navigation .breadcrumb li a:hover {background:#E1E1E1;}
.no-touch #navigation .breadcrumb li a:hover:after {border-left-color:#E1E1E1;}

.no-touch #playlist li a:hover {background:rgba(255,255,255,0.1);}

.no-touch .album_detail header .band:hover {text-decoration:underline;}


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}
.notextselection {-webkit-user-select: none;}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
